@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



#custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red background */
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
}

#custom-alert.hidden {
    opacity: 0;
    top: 0px;
}

:root{
    --color-background: #e6e6e6;
    --color-background-button1: #0A3871;
    --color-background-button2: #D8DFE8;

    --color-box-background: #e6e6e6;
    --color-box-Light: #ffffff;
    --color-box-shadow:#9c9c9c;

    --color-text-1: #0A3871;
    --color-text-2: #FFFFFF;
    --color-text-warning: #495057;

    --font-inter:font-family: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    background-color: var(--color-background);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header{
    width: 100%;
    height: auto;
    padding: 40px 0% 0% 0%; /*top, right, bottom, left*/
    display: flex;
}

.head{
    position: fixed;
    left: 42vw;
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 600;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.main__encrypted{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 40%;
    border-radius: 32px;
    background-color: var(--color-box-background);
    padding: 2% 2% 1% 2%; /*top, right, bottom, left*/
    box-shadow: inset 5px 5px 10px var(--color-box-shadow),
                inset -5px -5px 10px var(--color-box-Light);
}

.input{
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow-y: auto;
    resize: none;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background-color: var(--color-background);
    font-family: var(--font-inter);
    color: var(--color-text-1);
    font-size: 24px;
}

.input::placeholder{
    color: var(--color-text-1);
}

textarea::-webkit-scrollbar {
    width: 13px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
                -5px -5px 10px rgba(255, 255, 255, 0.7);
}

textarea::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c5c5c5,
                inset -5px -5px 10px #ffffff;
}

.main__encrypted__warning{
    display: flex;
    gap: 8px;
    margin: 2% 0% 2% 0%; /*top, right, bottom, left*/
}

.warning__text{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-text-warning);
}

.exclamation__circle{
    width: 16px;
    height: 16px;
}
.main__encrypted__buttons{
    display: flex;
    gap: 24px;
    padding-bottom: 2%;
}

.button__encrypt{
    color: var(--color-text-1);
    width: 267px;
    height: 67px;
    background-color: var(--color-background-button2);
    border: 1px solid var(--color-background-button1) ;
    border-radius: 24px;
    box-shadow: 5px 5px 10px var(--color-box-shadow),
                -5px -5px 10px var(--color-box-Light);
}

.button__decrypt{
    color: var(--color-text-1);
    width: 267px;
    height: 67px;
    background-color: var(--color-background-button2);
    border: 1px solid var(--color-background-button1) ;
    border-radius: 24px;
    box-shadow: 5px 5px 10px var(--color-box-shadow),
                -5px -5px 10px var(--color-box-Light);
}

.main__decrypted{
    width: 40%;
    height: 90%;
    border-radius: 32px;
    background-color: var(--color-box-background);
    padding: 2% 2% 1% 2%; /*top, right, bottom, left*/
    box-shadow: 5px 5px 10px var(--color-box-shadow),
    -5px -5px 10px var(--color-box-Light);
}

.decrypted__false{
    height: 90%;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 4%;
    display: flex;
}

.decrypted__image{
    height: auto;
    width: auto;
}

.decrypted__text1{
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.decrypted__text2{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
}


.decrypted__true{
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2%;
    height: 100%;
    display: none;
    gap: 20px;
}
    
.decrypted__text3{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: 540px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
}

.decrypted__text3::-webkit-scrollbar {
    width: 13px;
}

.decrypted__text3::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15),
                inset -5px -5px 10px rgba(255, 255, 255, 0.7);
}

.decrypted__text3::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c5c5c5,
                inset -5px -5px 10px #ffffff;
}
    
.button__copy{  
    align-self: center;
    background-color: var(--color-box);
    width: 267px;
    height: 67px;
    border: 1px solid;
    border-radius: 24px;
    color: var(--color-background-button1);
}
    
.button__copy:hover, .button__decrypt:hover, .button__encrypt:hover{
    box-shadow: inset 5px 5px 10px var(--color-box-shadow),
    inset -5px -5px 10px var(--color-box-Light);
}
.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
    margin-top: auto;
    width: 100%;
}

@media (max-width: 1024px){

    .header{
        padding: 6% 0% 0% 2%; /*top, right, bottom, left*/
    }

    .logo__alura{
        width: 10%;
    }

    .main{
        width: 90%;
        
    }

    .decrypted__image{
        width: 100%;
    }
}

@media (max-width: 912px){

    .main{
        flex-direction: column;
        width: 90%;
        height: 90%;
    }
    .header{
        padding: 6% 0% 0% 2%; /*top, right, bottom, left*/
    }

    .logo__alura{
        width: 10%;
    }

    .decrypted__image{
        width: 100%;
    }
}