@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-background: #e6e6e6;
    --color-background-button1: #0A3871;
    --color-background-button2: #D8DFE8;

    --color-box-background: #e6e6e6;
    --color-box-Light: #ffffff;
    --color-box-shadow:#9c9c9c;

    --color-text-1: #0A3871;
    --color-text-2: #FFFFFF;
    --color-text-warning: #495057;

    --font-inter:font-family: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    background-color: var(--color-background);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#red-alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red background */
    color: white;
    padding: 15px;
    border-radius: 5px;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
    font-family: var(--font-inter);
    font-size: 1rem;
}

#red-alert.hidden, #copy-alert.hidden {
    opacity: 0;
    top: 0px;
}

#copy-alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #36f456; /* Red background */
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
    font-family: var(--font-inter);
    font-size: 1rem;
}

.header{
    width: 100%;
    height: auto;
    padding: 40px 0% 1% 0%; /*top, right, bottom, left*/
    display: flex;
    justify-content: center;
}

.logo__alura{
    position: fixed;
    left: 40px;
    top: 40px;
    width: 6%;
    height: auto;

}

.head{   
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 600;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.main__encrypted{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 40%;
    border-radius: 32px;
    background-color: var(--color-box-background);
    padding: 2% 2% 1% 2%; /*top, right, bottom, left*/
    box-shadow: inset 5px 5px 10px var(--color-box-shadow),
                inset -5px -5px 10px var(--color-box-Light);
}

.reset__1{
    align-self: flex-end;
    width: 10%;
    border: none;
    border-radius: 10%;
    background-color: var(--color-background-button2);
    border: 1px solid var(--color-background-button1);

}

.reset__image{
    width: 30%;
    height: auto;
}


.reset__2{
    align-self: flex-end;
    width: 10%;
    border: none;
    border-radius: 10%;
    background-color: var(--color-background-button2);
    border: 1px solid var(--color-background-button1);

}

.input{
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow-y: auto;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    font-family: var(--font-inter);
    color: var(--color-text-1);
    font-size: 24px;
}

.input::placeholder{
    color: var(--color-text-1);
}

textarea::-webkit-scrollbar {
    width: 13px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
                -5px -5px 10px rgba(255, 255, 255, 0.7);
}

textarea::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c5c5c5,
                inset -5px -5px 10px #ffffff;
}

.main__encrypted__warning{
    display: flex;
    gap: 8px;
    margin: 2% 0% 2% 0%; /*top, right, bottom, left*/
}

.warning__text{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-text-warning);
}

.exclamation__circle{
    width: 16px;
    height: 16px;
}
.main__encrypted__buttons{
    display: flex;
    gap: 24px;
    padding-bottom: 2%;
}

.button__encrypt{
    width: 50%;
    height: 3.5vw;
    color: var(--color-text-1);
    background-color: var(--color-background-button2);
    border: 1px solid var(--color-background-button1) ;
    border-radius: 24px;
    box-shadow: 5px 5px 10px var(--color-box-shadow),
                -5px -5px 10px var(--color-box-Light);
}

.button__decrypt{
    width: 50%;
    height: 3.5vw;
    color: var(--color-text-1);
    background-color: var(--color-background-button2);
    border: 1px solid var(--color-background-button1) ;
    border-radius: 24px;
    box-shadow: 5px 5px 10px var(--color-box-shadow),
                -5px -5px 10px var(--color-box-Light);
}

.main__decrypted{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    border-radius: 32px;
    background-color: var(--color-box-background);
    padding: 2% 2% 1% 2%; /*top, right, bottom, left*/
    box-shadow: 5px 5px 10px var(--color-box-shadow),
    -5px -5px 10px var(--color-box-Light);
}

.decrypted__false{
    height: 90%;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 4%;
    display: flex;
}

.decrypted__image{
    height: auto;
    width: auto;
}

.decrypted__text1{
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.decrypted__text2{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
}


.decrypted__true{
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2%;
    height: 100%;
    display: none;
    gap: 20px;
}
    
.decrypted__text3{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
}

.decrypted__text3::-webkit-scrollbar {
    width: 13px;
}

.decrypted__text3::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15),
                inset -5px -5px 10px rgba(255, 255, 255, 0.7);
}

.decrypted__text3::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c5c5c5,
                inset -5px -5px 10px #ffffff;
}
    
.button__copy{  
    width: 50%;
    height: 3.5vw;
    align-self: center;
    background-color: var(--color-box);
    border: 1px solid;
    border-radius: 24px;
    color: var(--color-background-button1);
}
    
.button__copy:hover, .button__decrypt:hover, .button__encrypt:hover, .reset__1:hover, .reset__2:hover{
    box-shadow: inset 5px 5px 10px var(--color-box-shadow),
    inset -5px -5px 10px var(--color-box-Light);
}
.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1%;
    margin-top: auto;
    width: 100%;
}

@media (max-width: 768px){
    
    .header{
        padding: 4% 0% 2% 2%; /*top, right, bottom, left*/
    }
    
    .logo__alura{
        width: 10%;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 90%;
    }
    
    .main__encrypted{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        height: 40%;
        padding: 2% 5% 3% 5%; /*top, right, bottom, left*/
    }

    .main__encrypted__buttons{
        gap: 3vw;
        padding-bottom: 0%;
    }
    
    .button__encrypt{
        align-self: center;
        width: 90%;
        height: 8vw;
    }
    
    .button__decrypt{
        align-self: center;
        width: 90%;
        height: 8vw;
    }
    
    .main__decrypted{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 40%;
        padding: 2% 5% 3% 5%; /*top, right, bottom, left*/
    }
    
    .decrypted__true{
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0%;
        height: 100%;
        display: none;
        gap: none;
    }
    
    .decrypted__text1{
        font-size: 2.5vw;
        font-weight: 700;
        text-align: center;
    }
    
    .decrypted__text2{
        font-size: 2vw;
        font-weight: 400;
    }
    
    .decrypted__text3{
        font-size: 3vw;
        width: 100%;
        height: auto;
    }
    
    .decrypted__image{
        width: 35%;
        height: auto;
    }
    
    .button__copy{  
        align-self: center;
        width: 90%;
        height: 8vw;
    }
    
    .footer{
        padding-top: 0%;
        padding-bottom: 1%;
        padding: 0%;
        width: 100%;
    }
    
}

@media (max-width: 425px){

    .header{
        padding: 5% 0% 2% 2%; /*top, right, bottom, left*/
    }

    .head{   
        font-family: var(--font-inter);
        font-size: 5vw;
        font-weight: 600;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .main__encrypted{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        height: 45%;
        padding: 2% 5% 1% 5%; /*top, right, bottom, left*/
    }

    .reset__1{
        align-self: flex-end;
        width: 15%;
        border: none;
        border-radius: 30%;
        background-color: var(--color-background-button2);
        border: 0.5px solid var(--color-background-button1);
    
    }
    
    .reset__image{
        width: 40%;
        height: auto;
    }
    
    
    .reset__2{
        align-self: flex-end;
        width: 15%;
        border: none;
        border-radius: 30%;
        background-color: var(--color-background-button2);
        border: 0.5px solid var(--color-background-button1);
    
    }

    .input{
        box-sizing: border-box;
        border: none;
        outline: none;
        overflow-y: auto;
        resize: none;
        width: 100%;
        height: 100%;
        background-color: var(--color-background);
        font-family: var(--font-inter);
        color: var(--color-text-1);
        font-size: 1rem;
    }

    .main__encrypted__buttons{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 2%;
    }

    .button__encrypt{
        align-self: center;
        width: 90%;
        height: 15vw;
    }
    
    .button__decrypt{
        align-self: center;
        color: var(--color-text-1);
        width: 90%;
        height: 15vw;
    }

    .main__decrypted{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 45%;
        padding: 2% 5% 3% 5%; /*top, right, bottom, left*/
    }

    .decrypted__text1{
        font-size: 4vw;
        font-weight: 700;
        text-align: center;
    }
    
    .decrypted__text2{
        font-size: 3vw;
        font-weight: 400;
    }
        
    .decrypted__text3{
        font-size: 4vw;
        width: 100%;
        height: auto;
    }

    .logo__alura{
        width: 10%;
        left: 4px;
        top: 15px;
    }

    .decrypted__image{
        width: 60%;
        height: auto;
    }

    .button__copy{  
        align-self: center;
        width: 90%;
        height: 15vw;
    }

    .footer{
        padding-top: 0%;
        padding-bottom: 1%;
    }
}